.cont i{
    background-color: red;
}
.cont mark{
    background-color: red;
}
.cont strong{
    background-color: green;
}
.cont b{
    background-color: tomato;
}
.cont em{
    background-color: gold;
}
